<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,0},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{293,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>blue_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{294,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{294,293}}</string>
				<key>sourceSize</key>
				<string>{298,298}</string>
			</dict>

			<key>green_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,0},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{293,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>green_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,294},{293,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{293,294}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>orange_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,294},{292,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{292,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>orange_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,589},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{293,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>purple_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,294},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{293,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>purple_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,588},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{293,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>red_ball_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{293,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

			<key>red_ball_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{293,293}}</string>
				<key>sourceSize</key>
				<string>{297,297}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ball_sprites.png</string>
			</dict>
		</dict>
</plist>